/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;
Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)
Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%) */


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1,h2,h3{
    line-height: 1.8rem;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color:  hsl(228, 12%, 48%);
    font-size: 0.875rem;
    background-color: hsl(30, 38%, 92%);
    display: grid;
    min-height: 100vh;
    place-content: center;
    margin: 1rem;
}
.flex-group{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    
}
.product{
    display: grid;
    --content-padding: 1.5rem;
    --content-spacing: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
     overflow: hidden;
     max-width: 600px;
     min-width: 200px;
}
@media (min-width: 600px){
    .product{
        --content-padding: 2rem;
        grid-template-columns: 1fr 1fr;
    }
}
.product_content{
    padding: var(--content-padding);
    display: grid;
    gap: var(--content-spacing);; 
}
.product_category{
    font-size: 0.81rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;  
}
.product_title{
   font-size: 2rem;
   font-family: 'Fraunces', serif;  
   color: hsl(212, 21%, 14%);
   font-weight: 700;
}
.product_price{
    font-size: 2rem;
   font-family: 'Fraunces', serif; 
   color: hsl(158, 36%, 37%);
   font-weight: 700;
}
.button{
    cursor: pointer;
    border: 0;
    text-decoration: none;
    display: inline-flex;
    border-radius: 0.5rem;
    padding: .5em 1.5em;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    font-size: 0.94rem;
}
.button:is(:hover, :focus){
    background-color: hsl(158, 36%, 20%);
}